body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(142, 215, 223);
    color: rgb(8, 9, 7);
}
h1{
    text-align: center;
    background-color: rgb(126, 128, 188);
    color:white;
}
h2{
    text-align: center;
    background-color: rgb(66, 141, 207);
    color: white;
}
.center{
    display: inline-block;
}